= simple_form_for @list, html: { class: 'form-inline' } do |f|
  = f.input :title, label: false, autofocus: true, input_html: { size: 71 }, placeholder: 'New list'
  = button_tag (f.button :submit), class: 'btn btn-primary' do
    %i.fa.fa-plus
