= simple_form_for([@list, @todo], url: list_todos_path(@list), method: :post, html: { class: 'form-inline' } ) do |f|
  = f.input :task, autofocus: true, label: false, input_html: { size: 71 }, placeholder: 'New todo'
  = button_tag (f.button :submit), class: 'btn btn-primary' do
    %i.fa.fa-plus
