/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

/* custom font for brand */
@import url(http://fonts.googleapis.com/css?family=Varela+Round);

$width: 600px;
$big-font: 1.5em;

html{
  min-height: 100%;
  position: relative;
}
body{
  max-width: $width;
  margin: auto;
  margin-bottom: 100px;
  background-color: $gray-lighter * 1.06;
  a{
    &:hover, &:link, &:active, &:visited{
      text-decoration: none;
    }
  }
}
nav{
  padding: 10px 20px;
  .navbar-brand{
    font-size: 2em;
    font-weight: bold;
    font-family: Varela Round;
    letter-spacing: -.09em;
    a:hover, a:link, a:active, a:visited{
      color: darken($brand-primary, 10%);
    }
  }
  .navbar-right .btn{
    padding: .6em .9em;
    width: 100%;
  }
  .navbar-right li{
    margin-left: .5em;
  }
}
.container{
  max-width: $width;
  .form-inputs, .form-actions{
    max-width: 300px;
    margin: auto;
  }
  ul{
    font-size: $big-font;
    li i{
      float: right;
    }
  }
  .btn-right{
    margin-top: 20px;
    margin-left: 10px;
    float: right;
  }
}
h1, h2{
  text-align: center;
}
h1{
  margin-bottom: 50px;
}
.badge{
  margin-left: 1em;
}
.form-inline{
  margin: 0;
  padding: 0;
  input{
    width: 85%;
    float: left;
  }
  .btn{
    float: right;
    display: inline-block;
  }
}
footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: .9em;
  a{
    &:hover, &:active, &:link, &:visited{
      color: $brand-primary;
    }
  }
}
.jumbotron-container{
  max-width: $width;
  margin: -1.4em -1em -6.5em -1em;
}
.jumbotron{
  background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), image-url('homepage_background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  padding-top: 160px;
  padding-bottom: 200px;
  min-height: 650px;
  h3, h4, p{
    text-align: center;
  }
  .action-buttons .btn{
    background-color: transparent;
    color: white;
    font-weight: 700;
  }
  .btn-success{
    border: 2.5px solid $brand-success;
  }
  .btn-default{
    border: 2.5px solid $gray-lighter;
  }
  ul{
    text-align: center;
    margin-top: 2em;
    margin-left: -2em;
  }
  li{
    display: inline-block;
    padding: .5em;
  }
  p, h4{
    margin-top: 50px;
  }
}
.jumbotron-content{
  margin-top: -100px;
}
.hidden{
  visibility: hidden;
}
